<!doctype html>
<html>
<head>
	<title>NASA Mars Rovers Photo Explorer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Include Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body style="background-color:#0E0B16;">
<div class="navigation-bar">
	<h1 class="title">Mars Rover Photos</h1>
	<a href="aboutme">About Me</a>
	<a href="spirit">Spirit</a></li>
	<a href="opportunity">Opportunity</a>
	<a href="curiosity">Curiosity</a>
	<a href="/">Home</a>
</div>
	{{{body}}}
</body>
</html>